<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.toku2001.reservation.repository.ReservationMapper">

  <insert id="insert" parameterType="io.github.toku2001.reservation.entity.Reservation">
    INSERT INTO reservations (user_id, item_id, reserved_at)
    VALUES (#{userId}, #{itemId}, #{reservedAt})
  </insert>

  <resultMap id="ReservationResultMap" type="io.github.toku2001.reservation.entity.Reservation">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="item_id" property="itemId"/>
    <result column="reserved_at" property="reservedAt" jdbcType="TIMESTAMP" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
  </resultMap>
  
  <select id="findById" resultMap="ReservationResultMap">
    SELECT id, user_id, item_id, reserved_at
    FROM reservations
    WHERE id = #{id}
  </select>
  
  <delete id="deleteById" parameterType="long">
    DELETE FROM reservations
    WHERE id = #{id}
  </delete>

</mapper>